<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/api/docs/bulma.css">
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <link rel="stylesheet" href="/api/docs/manage.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <title><%= opportunity.exterior.opp.partner_name %> : <%= opportunity.exterior.opp.title %></title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <a href=".">Back to opportunity list</a>
        <h1 class="title"><%= opportunity.exterior.opp.partner_name %> : <%= opportunity.exterior.opp.title %></h1>

        <% if message.len() > 0 { %>
          <%- message %>
        <% } %>

        <p style="padding: 1rem 0px">
          <a href="<%= opportunity.exterior.opp.uid.to_string() %>/overlay">Edit overlay</a><br>
          <a href="/<%= opportunity.exterior.opp.slug %>" target="_blank">View on site</a>
        </p>

        <form method="post">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Partner</label>
                <div class="control">
                  <select name="partner">
                    <% for p_ref in all_partners { %>
                      <option value="<%= p_ref.uid.to_string() %>"<% if p_ref.uid == opportunity.exterior.opp.partner { %> selected<% } %>><%= p_ref.name %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">UID</label>
                <div class="control">
                  <input class="input" type="text" value="<%= opportunity.exterior.opp.uid.to_string() %>" disabled>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Created</label>
                <div class="control">
                  <% if let Some(dt) = opportunity.exterior.opp.partner_created { %>
                    <input class="input" type="text" value="<%= dt.to_rfc3339() %>" disabled>
                  <% } else { %>
                    <input class="input" type="text" value="" disabled>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Updated</label>
                <div class="control">
                  <% if let Some(dt) = opportunity.exterior.opp.partner_updated { %>
                    <input class="input" type="text" value="<%= dt.to_rfc3339() %>" disabled>
                    <% } else { %>
                    <input class="input" type="text" value="" disabled>
                    <% } %>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Accepted</label>
            <div class="control">
              <label class="checkbox"><input type="checkbox" name="accepted" value="true"<% if let Some(true) = opportunity.interior.accepted { %> checked<% } %>>Has the opportunity been accepted for publication?</label>
            </div>
          </div>

          <div class="field">
            <label class="label">Withdrawn</label>
            <div class="control">
              <label class="checkbox"><input type="checkbox" name="withdrawn" value="true"<% if opportunity.interior.withdrawn { %> checked<% } %>>Has the partner withdrawn the opportunity from publication?</label>
            </div>
          </div>

          <div class="field">
            <label class="label">Slug</label>
            <div class="control">
              <input class="input" type="text" name="slug" value="<%= opportunity.exterior.opp.slug %>">
            </div>
          </div>

          <div class="field">
            <label class="label">Page Type</label>
            <div class="control">
              <div class="select">
                <select class="input" name="entity_type">
                  <% for opt in common::model::opportunity::EntityType::all_options() { %>
                  <option value="<%= opt.0 %>"<% if opt.2 == opportunity.exterior.opp.entity_type { %> selected<% } %>><%= opt.1 %></option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>

          <% if opportunity.exterior.opp.entity_type.is_page() { %>

            <div class="field">
              <label class="label">Title</label>
              <div class="control">
                <input class="input" type="text" name="title" value="<%= opportunity.exterior.opp.title %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Canonical URL</label>
              <div class="control">
                <input class="input" type="text" name="partner_opp_url" value="<% if let Some(url) = opportunity.exterior.opp.partner_opp_url { %><%= url %><% } %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Description for sharing</label>
              <div class="control">
                <input class="input" type="text" name="short_desc" value="<%= opportunity.exterior.opp.short_desc %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Image for sharing (e.g. <em>https://some.aws.url/image.jpg</em>)</label>
              <div class="control">
                <input class="input" type="text" name="image_url" value="<%= opportunity.exterior.opp.image_url %>">
              </div>
            </div>

            <%# add form fields for any options we add to the PageOptions struct %>

            <%# consider adding .wysiwyg textareas to edit the page blocks inline %>

            <a href="/<%= opportunity.exterior.opp.slug %>" target="_preview">view page in tab</a>

            <input type="hidden" name="partner_name" value="<%= opportunity.exterior.opp.partner_name %>">
            <input type="hidden" name="tags" value="<%= opportunity.exterior.tags.iter().cloned().collect::<Vec<_>>().join(", ") %>">

          <% } else { %>

            <div class="field">
              <label class="label">Partner Name</label>
              <div class="control">
                <input class="input" type="text" name="partner_name" value="<%= opportunity.exterior.opp.partner_name %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Partner Website</label>
              <div class="control">
                <% if let Some(val) = opportunity.exterior.opp.partner_website { %>
                  <input class="input" type="text" name="partner_website" value="<%= val %>">
                <% } else { %>
                  <input class="input" type="text" name="partner_website" value="">
                <% } %>
              </div>
            </div>

            <div class="field">
              <label class="label">Partner Logo URL</label>
              <div class="control">
                <% if let Some(val) = opportunity.exterior.opp.partner_logo_url { %>
                  <input class="input" type="text" name="partner_logo_url" value="<%= val %>">
                <% } else { %>
                  <input class="input" type="text" name="partner_logo_url" value="">
                <% } %>
              </div>
            </div>

            <div class="field">
              <label class="label">Partner Opportunity URL</label>
              <div class="control">
                <input class="input" type="text" name="partner_opp_url" value="<% if let Some(url) = opportunity.exterior.opp.partner_opp_url { %><%= url %><% } %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Organization Name</label>
              <div class="control">
                <input class="input" type="text" name="organization_name" value="<%= opportunity.exterior.opp.organization_name %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Organization Type</label>
              <div class="control">
                <div class="select">
                  <select class="input" name="organization_type">
                    <% for opt in common::model::opportunity::OrganizationType::all_options() { %>
                      <option value="<%= opt.0 %>"<% if opt.2 == opportunity.exterior.opp.organization_type { %> selected<% } %>><%= opt.1 %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Organization Website</label>
              <div class="control">
                <% if let Some(val) = opportunity.exterior.opp.organization_website { %>
                  <input class="input" type="text" name="organization_website" value="<%= val %>">
                <% } else { %>
                  <input class="input" type="text" name="organization_website">
                <% } %>
              </div>
            </div>

            <div class="field">
              <label class="label">Organization Logo URL</label>
              <div class="control">
                <% if let Some(val) = opportunity.exterior.opp.organization_logo_url { %>
                  <input class="input" type="text" name="organization_logo_url" value="<%= val %>">
                <% } else { %>
                  <input class="input" type="text" name="organization_logo_url" value="">
                <% } %>
              </div>
            </div>

            <div class="field">
              <div class="columns">
                <div class="column">
                  <label class="label">Opportunity Venue Types</label>
                </div>
                <div class="column">
                  <span title="hold down contol or command to select multiple items" class="tag is-info">multiple select</span>
                </div>
              </div>
              <div class="control">
                <div class="select is-multiple">
                  <select multiple class="input" name="opp_venue[]">
                    <% for opt in common::model::opportunity::VenueType::all_options() { %>
                      <option value="<%= opt.0 %>"<% if opportunity.exterior.opp_venue.contains(&opt.2) { %> selected<% } %>><%= opt.1 %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="columns">
                <div class="column">
                  <label class="label">Opportunity Descriptors</label>
                </div>
                <div class="column">
                  <span title="hold down contol or command to select multiple items" class="tag is-info">multiple select</span>
                </div>
              </div>
              <div class="control">
                <div class="select is-multiple">
                  <select multiple class="input" name="opp_descriptor[]">
                    <% for opt in common::model::opportunity::Descriptor::all_options() { %>
                      <option value="<%= opt.0 %>"<% if opportunity.exterior.opp_descriptor.contains(&opt.2) { %> selected<% } %>><%= opt.1 %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Opportunity Minimum Age</label>
              <div class="control">
                <input class="input" type="number" name="min_age" value="<%= opportunity.exterior.opp.min_age %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Opportunity Maximum Age</label>
              <div class="control">
                <input class="input" type="number" name="max_age" value="<%= opportunity.exterior.opp.max_age %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Opportunity Domain (Public Engagement in Science)</label>
              <div class="control">
                <div class="select">
                  <select class="input" name="pes_domain">
                    <% for opt in common::model::opportunity::Domain::all_options() { %>
                      <option value="<%= opt.0 %>"<% if opt.2 == opportunity.exterior.opp.pes_domain { %> selected<% } %>><%= opt.1 %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Opportunity Tags</label>
              <div class="control">
                <textarea class="textarea" name="tags"><%= opportunity.exterior.tags.iter().cloned().collect::<Vec<_>>().join(", ") %></textarea>
              </div>
            </div>

            <div class="field">
              <div class="columns">
                <div class="column">
                  <label class="label">Opportunity Topics</label>
                </div>
                <div class="column">
                  <span title="hold down contol or command to select multiple items" class="tag is-info">multiple select</span>
                </div>
              </div>
              <div class="control">
                <div class="select is-multiple">
                  <select multiple class="input" name="opp_topics[]">
                    <% for opt in common::model::opportunity::Topic::all_options() { %>
                      <option value="<%= opt.0 %>"<% if opportunity.exterior.opp_topics.contains(&opt.2) { %> selected<% } %>><%= opt.1 %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Ticket Required</label>
              <div class="control">
                <label class="checkbox"><input type="checkbox" name="ticket_required" value="true"<% if opportunity.exterior.opp.ticket_required { %> checked<% } %>>Is a ticket required?</label>
              </div>
            </div>

            <div class="field">
              <label class="label">Title</label>
              <div class="control">
                <input class="input" type="text" name="title" value="<%= opportunity.exterior.opp.title %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Description</label>
              <div class="control">
                <textarea id="description" type="text" name="description"><%= opportunity.exterior.opp.description %></textarea>
              </div>
            </div>

            <div class="field">
              <label class="label">Short Description (elevator pitch)</label>
              <div class="control">
                <input class="input" type="text" name="short_desc" value="<%= opportunity.exterior.opp.short_desc %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Image URL</label>
              <div class="control">
                <input class="input" type="text" name="image_url" value="<%= opportunity.exterior.opp.image_url %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Image Credit</label>
              <div class="control">
                <input class="input" type="text" name="image_credit" value="<%= opportunity.exterior.opp.image_credit %>">
              </div>
            </div>

            <p class="my-2">
              <strong class="has-text-warning-dark">Please note:</strong>
              for start/end times, please input the times in your local
              time zone, <strong>not</strong> the time zone of the
              opportunity. Your browser will translate that into a
              globally correct time identifier which can then be
              translated into other peoples' local time zones.
            </p>

            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Starts</label>
                  <div id="start-column" class="control">
                    <% if opportunity.exterior.start_datetimes.is_empty() { %>
                      <em>No data entered</em>
                    <% } else { %>
                      <% for (i, b) in opportunity.exterior.start_datetimes.iter().enumerate() { %>
                        <p>
                          <input type="datetime-local" data-global="start_datetimes-<%= i %>">
                          <input id="start_datetimes-<%= i %>" type="hidden" name="start_datetimes[]" value="<%= b.to_rfc3339() %>">
                        </p>
                      <% } %>
                    <% } %>
                    <template id="tpl-start">
                      <p>
                        <input type="datetime-local" data-global="start_datetimes-@">
                        <input id="start_datetimes-@" type="hidden" name="start_datetimes[]">
                      </p>
                    </template>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">Ends</label>
                  <div id="end-column" class="control">
                    <% if opportunity.exterior.end_datetimes.is_empty() { %>
                      <em>No data entered</em>
                    <% } else { %>
                      <% for (i, e) in opportunity.exterior.end_datetimes.iter().enumerate() { %>
                        <p>
                          <input type="datetime-local" data-global="end_datetimes-<%= i %>">
                          <input id="end_datetimes-<%= i %>" type="hidden" name="end_datetimes[]" value="<%= e.to_rfc3339() %>">
                        </p>
                      <% } %>
                    <% } %>
                    <template id="tpl-end">
                      <p>
                        <input type="datetime-local" data-global="end_datetimes-@">
                        <input id="end_datetimes-@" type="hidden" name="end_datetimes[]">
                      </p>
                    </template>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" onclick="add_a_start_end_pair()">Add start/end pair</button>

            <p class="my-2">
              <strong class="has-text-warning-dark">Please note:</strong>
              daily hours are for entries which represent
              physical locations which people can visit, which means
              that unlike other opportunities they are never available
              in multiple time zones. Please enter opening and closing
              times in that location's local time zone.
            </p>

            <div class="field">
              <label class="label">Opportunity Has Cost</label>
              <div class="control">
                <div class="select">
                  <select class="input" name="cost">
                    <% for opt in common::model::opportunity::Cost::all_options() { %>
                      <option value="<%= opt.0 %>"<% if opt.2 == opportunity.exterior.opp.cost { %> selected<% } %>><%= opt.1 %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Opportunity Languages</label>
              <div class="control">
                <input class="input" type="text" name="languages" value="<%= opportunity.exterior.languages.join(", ") %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Opportunity Hashtags</label>
              <div class="control">
                <input class="input" type="text" name="opp_hashtags" value="<%= opportunity.exterior.opp_hashtags.join(", ") %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Opportunity Is Online</label>
              <div class="control">
                <label class="checkbox"><input type="checkbox" name="is_online" value="true"<% if opportunity.exterior.opp.is_online { %> checked<% } %>>Is the opportunity available online?</label>
              </div>
            </div>

            <div class="field">
              <label class="label">Opportunity Location Type</label>
              <div class="control">
                <div class="select">
                  <select class="input" name="location_type">
                    <% for opt in common::model::opportunity::LocationType::all_options() { %>
                      <option value="<%= opt.0 %>"<% if opt.2 == opportunity.exterior.opp.location_type { %> selected<% } %>><%= opt.1 %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Opportunity Point</label>
              <div class="control">
                <% if let Some(geom) =  opportunity.exterior.opp.location_point.0 { %>
                <strong><em>Available</em></strong>
                <% } else { %>
                <em>No data entered</em>
                <% } %>
              </div>
            </div>

            <div class="field">
              <label class="label">Opportunity Geometry</label>
              <div class="control">
                <% if let Some(geom) = opportunity.exterior.opp.location_polygon.0 { %>
                <strong><em>Available</em></strong>
                <% } else { %>
                <em>No data entered</em>
                <% } %>
              </div>
            </div>

            <div class="field">
              <label class="label">Street</label>
              <div class="control">
                <input class="input" type="text" name="address_street" value="<%= opportunity.exterior.opp.address_street %>">
              </div>
            </div>

            <div class="field">
              <label class="label">City</label>
              <div class="control">
                <input class="input" type="text" name="address_city" value="<%= opportunity.exterior.opp.address_city %>">
              </div>
            </div>

            <div class="field">
              <label class="label">State/Province</label>
              <div class="control">
                <input class="input" type="text" name="address_state" value="<%= opportunity.exterior.opp.address_state %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Country</label>
              <div class="control">
                <input class="input" type="text" name="address_country" value="<%= opportunity.exterior.opp.address_country %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Zip</label>
              <div class="control">
                <input class="input" type="text" name="address_zip" value="<%= opportunity.exterior.opp.address_zip %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Contact Name</label>
              <div class="control">
                <input class="input" type="text" name="contact_name" value="<%= opportunity.interior.contact_name %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Contact Email</label>
              <div class="control">
                <input class="input" type="text" name="contact_email" value="<%= opportunity.interior.contact_email %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Contact Phone</label>
              <div class="control">
                <input class="input" type="text" name="contact_phone" value="<%= opportunity.interior.contact_phone %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Extra Data</label>
              <pre>
                <%= format!("{:?}", opportunity.interior.extra_data) %>
              </pre>
            </div>

          <% } %>

          <div class="field">
            <div class="control">
              <input class="button is-primary is-large" type="submit" value="Save">
            </div>
          </div>
        </form>
      </div>
    </section>
    <script>
     function to_local(value) {
         function pad(n) {
             return (n > 9 ? '' : '0') + n;
         }

         var date = new Date(value);

         return date.getFullYear() + '-' +
                pad(date.getMonth() + 1) + '-' +
                pad(date.getDate()) + 'T' +
                pad(date.getHours()) + ':' +
                pad(date.getMinutes()) + ':' +
                pad(date.getSeconds());
     };

     var descriptionMDE = new EasyMDE({element: document.getElementById('description')});

     function setup_datetime_view(view) {
         var model = document.getElementById(view.dataset.global);

         if(!!model.value) {
             view.value = to_local(model.value);
         }

         view.addEventListener('input', function(event) {
             try {
                 model.value = new Date(view.value).toISOString();
             }
             catch(_) {
                 model.value = "";
             }
         });
     }

     function add_a_start_end_pair() {
         let start_global_id = "start_datetimes-" +  Math.random();
         let end_global_id = "end_datetimes-" +  Math.random();

         let start_t = document.querySelector('#tpl-start');
         let end_t = document.querySelector('#tpl-end');

         let start = start_t.content.cloneNode(true);
         let end = end_t.content.cloneNode(true);

         let start_local = start.querySelector('input[type="datetime-local"]');
         let end_local = end.querySelector('input[type="datetime-local"]');

         let start_global = start.querySelector('input[type="hidden"]');
         let end_global = end.querySelector('input[type="hidden"]');

         start_local.dataset.global = start_global_id;
         end_local.dataset.global = end_global_id;

         start_global.id = start_global_id;
         end_global.id = end_global_id;

         let start_col = document.querySelector('#start-column');
         let end_col = document.querySelector('#end-column');

         start_col.appendChild(start);
         end_col.appendChild(end);

         setup_datetime_view(start_local);
         setup_datetime_view(end_local);
     }

     document.querySelectorAll('input[type="datetime-local"][data-global]').forEach(
         setup_datetime_view
     );
    </script>
  </body>
</html>
