<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/api/docs/bulma.css">
    <title>Partners</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <a href="..">Back to management dashboard</a>
        <h1 class="title">Partners</h1>
        <table>
          <tr>
            <th>Name</th>
            <th>Manager</th>
            <th>Email</th>
            <th>Joined</th>
            <th>Accepted</th>
            <th>UID</th>
          </tr>
          <% for partner in partners { %>
          <tr>
            <td><a href="<%= partner.uid.to_string() %>"><%= partner.name %></a></td>
            <td><%= partner.manager_name %></td>
            <td><%= partner.manager_email %></td>
            <td><%= partner.joined.format("%Y-%m-%d") |disp %></td>
            <td><%= partner.accepted %></td>
            <td><%= partner.uid.to_string() %><td>
          </tr>
          <% } %>
        </table>
        <h1>Add Partner</h1>
        <form method="post">
          <input type="hidden" name="csrf" value="<%= csrf %>">
          <div><input type="text" name="name" placeholder="partner name"></div>
          <div><input type="text" name="secret" placeholder="partner secret" value="<%= suggested_secret %>"></div>
          <div><input type="text" name="manager_name" placeholder="manager name"></div>
          <div><input type="text" name="manager_email" placeholder="manager email"></div>
          <div><input type="text" name="manager_phone" placeholder="manager_phone"></div>
          <div><textarea name="manager_mailing" placeholder="manager mailing address"></textarea></div>
          <input class="button is-primary" type="submit" value="Add partner">
        </form>
      </div>
    </section>
  </body>
</html>
