$snm-color-background: #ffffff;
$snm-color-background-light: #F5F5F5;
$snm-color-background-medlight: #bfdce2;
$snm-color-background-medium: #7cb4bf;
$snm-color-background-meddark: #065E6F;
$snm-color-background-dark: #1b4a54;

$snm-color-element-light: #ffffff;
$snm-color-element-med: #087a91;
$snm-color-element-dark: #1a1a1a;
$snm-color-element-sublabel: #3a3a3a;

$snm-color-heading-ondark: #F2C04B;
$snm-color-element-ondark: #ffffff;
$snm-color-border-ondark: #707070;

$snm-color-info: #991B08;
$snm-color-action: #ffbf40;
$snm-color-action-border: #B88728;

$snm-color-shadow: #00000029;
$snm-color-hint: #817878;
$snm-color-border: #d9d9d9;
$snm-color-disabled: #b2b2b2;
$snm-color-glance: #595959;
