$snm-font-heading: 'Fira Sans', sans-serif;
$snm-font-content: 'Roboto', sans-serif;
$snm-font-meta: 'Roboto', sans-serif;

$base-size: 16px;
@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($base-size)}rem;
}

$snm-font-smallest: 0.75rem;        // 12px in the spec
$snm-font-smaller: 0.875rem;        // 14px
$snm-font-small: 1rem;              // 16px
$snm-font-medium-small: 1.125rem;   // 18px;
$snm-font-medium: 1.3rem;           // 21px
$snm-font-large: 1.5rem;            // 24px
$snm-font-larger: 1.9rem;           // 30px
$snm-font-largest: 2rem;            // 32px

body {
  font-family: 'roboto', sans-serif;
}
